<ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map>
    <ion-searchbar placeholder="Para Onde?"></ion-searchbar>
    </div>
    <div id="map" style="height: 100%;"></div>
</ion-content>
